In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.31)
Requirement already satisfied: protobuf<=3.20.1,>=3.11.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.1)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import mysql.connector

mydb=mysql.connector.connect(host="localhost",user="root",password="1999")

mycursor=mydb.cursor()

In [14]:
mycursor.execute("CREATE DATABASE Bekhzod_db")

In [15]:
mydb=mysql.connector.connect(host="localhost",user="root",password="1999",database="Bekhzod_db")

In [16]:
mycursor=mydb.cursor()
mycursor.execute("CREATE TABLE Vehicles(Status VARCHAR(10), Vehicle_id VARCHAR(5), Reg_id VARCHAR(8), Manufacturer VARCHAR(20))")

In [17]:
mycursor.execute("ALTER TABLE Vehicles ADD Model VARCHAR(20)")
mycursor.execute("ALTER TABLE Vehicles ADD Color VARCHAR(15)")
mycursor.execute("ALTER TABLE Vehicles ADD Odometer INTEGER(8)")
mycursor.execute("ALTER TABLE Vehicles ADD B_Description VARCHAR(50)")
mycursor.execute("ALTER TABLE Vehicles ADD F_Cost VARCHAR(20)")

In [18]:
records="INSERT INTO Vehicles(Status,Vehicle_id,Reg_id,Manufacturer,Model,Color,Odometer,B_Description,F_Cost) VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s)"
Vehicles=[('M','B2000','3000AB','GM','Malibu','Black','57012','Oil/oil filter change-2022/10/05','$500'),
         ('R','B2001','3001XN','KIA','K7','White','101321','Wiper blades replacement-2022/10/11','$1245'),
         ('R','B2002','3002RT','Hyundai','Venue','Red','13024','Air filter replacement-2022/08/29','$950'),
         ('M','B2003','3003KJ','Genesis','G80','Black','72767','New tires-2022/09/17','$2000'),
         ('R','B2004','3004WD','Samsung','SM7','White','189001','Antifreeze added-2022/10/20','$400')]
mycursor.executemany(records,Vehicles)
mydb.commit()

In [21]:
mycursor.execute("CREATE TABLE Countries(Countries VARCHAR(30),Languages VARCHAR(10))")

In [23]:
records1="INSERT INTO Countries(Countries,Languages) VALUES(%s,%s)"
Countries=[('Afghanistan','AF'),
            ('Bahrain','BH'),
            ('Bangladesh','BD'),
            ('Bhutan','BT'),
            ('Brunei','BN'),
            ('Cambodia','KH'),
            ('China','CN'),
            ('Chinese Taipei','CT'),
            ('Timor-Leste','TL'),
            ('Hong Kong','HK'),
            ('India','IN'),
            ('Indonesia','ID'),
            ('Iran','IR'),
            ('Iraq','IQ'),
            ('Israel','IL'),
            ('Japan','JP'),
            ('Jordan','JO'),
            ('Kazakhstan','KZ,RU'),
            ('Kuwait','KW'),
            ('Kyrgyzstan','KG,RU'),
            ('Laos','LA'),
            ('Lebanon','LB'),
            ('Macau','MO'),
            ('Malaysia','MY'),
            ('North Borneo','NB'),
            ('Sarawak','SW'),
            ('Maldives','MV'),
            ('Mongolia','MN'),
            ('Myanmar','MM'),
            ('Nepal','NP'),
            ('North Korea','PRK'),
            ('Oman','OM'),
            ('Pakistan','PK'),
            ('Palestine','PS'),
            ('Philippines','PH'),
            ('Qatar','QA'),
            ('Saudi Arabia','SA'),
            ('Singapore','SG'),
            ('South Korea','KR,EN'),
            ('Sri Lanka','LK'),
            ('Syria','SY'),
            ('Tajikistan','TJ'),
            ('Thailand','TH'),
            ('Turkmenistan','TM'),
            ('United Arab Emirates','AE'),
            ('Uzbekistan','UZ,RU'),
            ('Vietnam','VN'),
            ('Yemen','YE'),
            ('North Yemen','NY'),
            ('South Yemen','SY'),
            ('Korea','COR')]

mycursor.executemany(records1,Countries)
mydb.commit()

In [24]:
mycursor.execute("CREATE TABLE Officials(Name VARCHAR(20),Country VARCHAR(20),City_id INTEGER(8),Role VARCHAR(20),Language VARCHAR(20))")

In [25]:
sql='''INSERT INTO officials(Name,Country,City_id,Role,Language)
VALUES(%s,%s,%s,%s,%s)'''
for i in range(5):
    name=input("Name: ")
    country=input("Country: ")
    c_id=int(input("City ID: "))
    role=input("Role at the Game: ")
    lang=input("Preferred language: ")
    officials=[(name,country,c_id,role,lang)]
    mycursor.executemany(sql,officials)
mydb.commit()

Name: Arnold
Country: Maldives
City ID: 73126353
Role at the Game: Judge
Preferred language: English, French
Name: Bekhzod
Country: Uzbekistan
City ID: 98737632
Role at the Game: Coach
Preferred language: Uzbek,English,Korean
Name: Alex John
Country: Singapore
City ID: 75645336
Role at the Game: Physician
Preferred language: English
Name: Rajj Bhat
Country: India
City ID: 98545343
Role at the Game: Judge
Preferred language: English,Korean
Name: Kim Sol
Country: South Korea
City ID: 35464677
Role at the Game: Reporter
Preferred language: Korean,English

In [36]:
mycursor.execute("CREATE TABLE Drivers(Name VARCHAR(20),License_num VARCHAR(18),Clearance_lev INTEGER(1))")

In [37]:
mycursor.execute("ALTER TABLE Drivers ADD FATL_lev VARCHAR(2)")
mycursor.execute("ALTER TABLE Drivers ADD FATL_dt VARCHAR(10)")
mycursor.execute("ALTER TABLE Drivers ADD STLVT_lev VARCHAR(1)")
mycursor.execute("ALTER TABLE Drivers ADD STLVT_dt VARCHAR(10)")
mycursor.execute("ALTER TABLE Drivers ADD STLVT_auth VARCHAR(30)")

In [38]:
records2="INSERT INTO Drivers(Name,License_num,Clearance_lev,FATL_lev,FATL_dt,STLVT_lev,STLVT_dt,STLVT_auth) VALUES(%s,%s,%s,%s,%s,%s,%s,%s)"
Drivers=[('Ali','AB8838736746468645','4','10','2021/07/05','5','2019/12/03','Foreign Police Station'),
         ('Joe','KN7365241987644563','3','7','2022/09/01','-','-','-'),
         ('John Deo','AC9585746664532189','3','-','-','-','-','-'),
         ('Ronald','KM9006746321756433','4','-','-','4','2021/05/27','Local Police Station'),
         ('Max Ruin','EA9686868665432548','2','9','2022/10/20','-','-','-')]
mycursor.executemany(records2,Drivers)
mydb.commit()

In [40]:
mycursor.execute("CREATE TABLE Locations(Pick_up VARCHAR(70),Drop_off VARCHAR(70))")

In [41]:
records3="INSERT INTO Locations(Pick_up,Drop_off) VALUES(%s,%s)"
locations=[('45,Incheon,Incheon Airport T1','321,Seoul,Sunshine Hotel'),
         ('45,Incheon,Incheon Airport T1','53,Seoul,Sports Complex'),
         ('53,Seoul,Sports Complex','123,Pusan,Hyundai Beach'),
         ('54,Incheon,Uzkebab Restaurant','43,Incheon, Movie Theater'),
         ('354,Pusan, Paradise Hotel','45,Incheon,Incheon Airport T2'),
         ('53,Seoul,Sports Complex','45,Incheon,Incheon Airport T2')]
mycursor.executemany(records3,locations)
mydb.commit()

In [44]:
mycursor.execute("CREATE TABLE Trip(Booking_ref_num INTEGER(4),Start_dt VARCHAR(30),End_dt VARCHAR(30),Start_odometer INTEGER(7),End_odometer INTEGER(7))")

In [45]:
records4="INSERT INTO Trip(Booking_ref_num,Start_dt,End_dt,Start_odometer,End_odometer) VALUES(%s,%s,%s,%s,%s)"
trip=[('1001','2022/10/23 at 11:00 AM','2022/10/23 at 1:00 PM','53421','53611'),
      ('1002','2022/10/24 at 10:00 PM','2022/10/25 at 00:00 AM','256987','257193'),
      ('1003','2022/11/01 at 2:00 PM','2022/11/01 at 8:00 PM','73123','73603'),
      ('1004','2022/11/07 at 12:00 PM','2022/11/07 at 1:00 PM','127890','127901'),
      ('1005','2022/11/15 at 3:00 AM','2022/11/15  at 10:00 AM','64562','65027'),
      ('1006','2022/11/15 at 7:00 AM','2022/11/15 at 9:00 AM','93762','93971')]
mycursor.executemany(records4,trip)
mydb.commit()